html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    /*font-family: "Chivo Mono", monospace;*/
    font-family: "Major Mono Display", monospace;

}
h1 {
    font-family: "Major Mono Display", monospace;
    /*font-family: "Chivo Mono", monospace;*/

}

nav {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 93vh;

}
nav div {
    padding: 0;

}
nav i {
    font-size: 16pt;
}

section {
    padding: 0 1rem;

}
.heroPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.7539609593837535) 0%, rgba(255,174,0,1) 100%);
}
.titleContainer {
    height: 80vh;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(18, 113, 115);

}
.subtitle {
    height: 25vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subtitle button {
    font-size: 10pt;
}
h1,h2,h3 {
    margin: 0;
}
p {
    margin: 0;
}
.aboutPage {
    height: 100vh;
    background: rgb(255,174,0);
    background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(34, 193, 195, 0.74) 100%);

}
.aboutPage h2,h3 {
    text-decoration: underline;
}
.hardSkills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.softSkills h3 {

}
.softSkills {
    display: flex;
    justify-content: flex-end;
}
.projectsPage {
    height: 100vh;
    background: linear-gradient(0deg, rgba(34,193,195,0.7539609593837535) 0%, rgba(255,174,0,1) 100%);

}
.img {
    width: 50vw;
    height: 15vh;
    background-color: white;
}
.contactMe {
    height: 100vh;
    background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(34, 193, 195, 0.74) 100%);
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}
.contactMe div{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}
.contactMe i {
    text-decoration: none;
    font-size: 40pt;
}