/*General comments:*/
/*- very good overall, good use of nested selectors instead of using classes everywhere*/
/*- just need to tidy a little by separating each block with a blank line,*/
/*  and removing empty lines from the end of the blocks*/
/*- also, you should remove commented-out code*/

/*Don't forget to set the box-sizing property to border-box in the * selector here*/

html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    /*You should remove all commented-out lines before submitting for code review*/
    /*font-family: "Chivo Mono", monospace;*/
    /*font-family: "Major Mono Display", monospace;*/
    font-family: "Kode Mono", monospace;
    color: rgb(18, 113, 115);
    /*Lots of blank lines here that could be deleted*/


}
/*It would look nicer to separate each css block with an empty line*/
h1 {
    font-family: "Major Mono Display", monospace;
    font-size: 40pt;
    /*font-family: "Chivo Mono", monospace;*/
}
i {
    text-decoration: none;
}
.blogPage a {
    text-decoration: none;
    color: rgb(18, 113, 115);
}
nav {
    position: fixed;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 93vh;
    z-index: 10;

}
nav div {
    padding: 0;
    /*You've got some extra blank lines at the end of these css blocks,*/
    /*please remove them*/

}
nav i {
    font-size: 16pt;
}


section {
    padding: 0 4px;

}
.aboutPage,.projectsPage,.contactMe {
    padding: 0 2.5rem;
}
.heroPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.7539609593837535) 0%, rgba(255,174,0,1) 100%);
}
.titleContainer {
    height: 80vh;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*color: rgb(18, 113, 115);*/

}
.subtitle {
    height: 25vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subtitle button {
    font-size: 10pt;
    color: rgb(18, 113, 115);
    border-color: rgb(18, 113, 115);
    background-color: transparent;
    padding: 5px 1px;
}
h1,h2,h3,p {
    margin: 0;
    filter: drop-shadow(14px 12px 35px rgba(0, 0, 0, 0.4));
}
div {
    filter: drop-shadow(14px 12px 35px rgba(77, 110, 174, 0.13));

}
.aboutPage {
    height: 100vh;
    background: rgb(255,174,0);
    background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(34, 193, 195, 0.74) 100%);

}
.aboutPage h2,h3, h4 {
    text-decoration: underline;
}
.hardSkills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.softSkills {
    display: flex;
    justify-content: flex-end;
}
.projectsPage {
    height: 100vh;
    background: linear-gradient(0deg, rgba(34,193,195,0.7539609593837535) 0%, rgba(255,174,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img {
    height: 130px;
    width: 130px;
    margin-top: 5px;
    padding: 3px;
    border: solid 2px rgb(18, 113, 115);
}
.project div{
    padding-bottom: 0.5rem;
}
.project a {
    text-decoration: none;
    color: rgb(18, 113, 115);
}
.project:hover {
    background-color: rgba(250, 235, 215, 0.42);
}
aside{
    font-size: 8pt;
}
.project div div {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.contactMe {
    height: 100vh;
    background: linear-gradient(0deg, rgba(255,174,0,1) 0%, rgba(34, 193, 195, 0.74) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;

}
.contactMe div{
    text-align: center;
    display: flex;
    justify-content: center;
}
.contactMe i {
    font-size: 40pt;
    font-family: "Major Mono Display", monospace;
}
span {
    font-family: "Major Mono Display", monospace;
    font-size: 16pt;
}

/*Please remove these big commented-out blocks*/
/*.blogPage {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: rgb(34,193,195);*/
/*    background: linear-gradient(0deg, rgba(34,193,195,0.7539609593837535) 0%, rgba(255,174,0,1) 100%);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
    /*text-align: center;*/
/*}*/

/*As this doesn't do anything, you might as well remove it!*/
.blogPage section div{

}
/*.blogPage i {*/
/*    font-size: 20pt;*/
/*}*/
/*You've got an extra space before the and here:*/
@media screen  and (min-width: 700px) {
    body {
        line-height: 1.6;
    }
    .tooltip .toolTipText {
        display: block;
        visibility: hidden;
        writing-mode: vertical-rl;
        text-orientation: upright;

    }
    .tooltip:hover .toolTipText {
        visibility: visible;
    }
    .heroPage {
        flex-direction: row;
        justify-content: flex-end;
    }
    .titleContainer {
        width: 80vw;
    }
    .project {
        margin: 2rem 0;
    }
    .project div div{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    .project h4 {
        margin: 0;
    }
    .project aside {
        font-size: 11pt;

    }
}